.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #F4F1E7;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
  }
  
  .hero-content {
    flex: 1;
    padding-right: 50px;
  }
  
  .hero-content h1 {
    font-size: 60px;
    margin-bottom: 20px;
  }
  
  .highlight {
    color: #007bff;
  }
  
  .hero-content p {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .description {
    font-size: 16px;
    color: #666;
  }
  
  .buttons {
    display: flex;
    gap: 20px;
  }
  
  .buy-button, .partner-button2 {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .buy-button {
    background-color: #28a745;
    color: white;
  }
  
  .partner-button2 {
    background-color: transparent;
    color: #000000;
    border: 2px solid black;
  }
  
  .hero-image {
    flex: 1;
  }
  
  .hero-image img {
    width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .hero-section {
      flex-direction: column;
      padding: 20px;
    }
  
    .hero-content {
      padding-right: 0;
      margin-bottom: 30px;
    }
  
    .hero-content h1 {
      font-size: 36px;
    }
    .buttons {
      display: flex;
      gap: 20px;
      justify-content: center;
    }
  }
  